.colorado {
    display: flex;
    justify-content: space-around;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: rgba(255, 0, 0, 0.808)
}

.circle {
    /* display: flex;
    justify-content: right;
    flex-direction: column; */
    margin-top: 55px;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: rgb(255, 217, 0);

}

.trapezoid {
    border-bottom: 80px solid pink;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    height: 0;
    width: 70px;
    transform: rotate(270deg)
  }

.y {
    color: green;
    margin-top: -10px;
    margin-left: 30px;
}

.l {
    color: #ff7b00dc;
    margin-left: 35px;
}

.f {
    color: purple;
    margin-left: 50px;
}

#text {
    font-family: 'Lato', sans-serif;
    font-size: 30px;
}
